* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 242, 245);
}

.agregar-estado {
  width: 90%;
  max-width: 768px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.agregar-estado label {
  text-align: center;
  padding: 15px;
}

.agregar-estado textarea {
  width: 90%;
  max-width: 666px;
  margin: auto;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.agregar-estado textarea::-webkit-scrollbar {
  display: none;
}

.publicar {
  margin: auto;
  padding: 10px 15px;
  background-color: rgb(27, 116, 228);
  border-radius: 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.publicar:hover {
  background-color: rgb(50, 112, 187);
  cursor: pointer;
}